@font-face {
	font-family: 'MyFont';
	src: url('../assets/font.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
body {
	/*background: blue;*/
}
.hello {
  color: red;
  font-family: 'MyFont';
  background: url('../assets/icon.gif');
  text-transform: scale(0.5);
}