@font-face {
	font-family: 'MyFont';
	src: url('../asset/font.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
body {
	/*background: blue;*/
}
.hello {
  color: red;
  font-family: 'MyFont';
  background: url('../asset/icon.gif');
}